http:
  middlewares:
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: false
        contentTypeNosniff: true
        browserXssFilter: true
    compress-responses:
      compress: {}
